$mainColor: #fa6161;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e1538;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
  border-radius: 20px;
  &::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccFF, #d400d4);
    animation: animate 4s linear infinite;
  }
  &::after {
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 16px;
    background: #0e1538;
  }
  h2 {
    position: relative;
    color: #FFF;
    font-size: 10em;
    z-index: 10;
  }
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}